body{
    background-image: url(../app/Babcock-University-cropped.jpg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 20vw 0vh;
}

.profile-container{
    position: relative;
    left: 62%;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: rgb(59, 130, 246);
    color: whitesmoke;
    padding: 40px 40px;
    border-radius: 0px 0px 20px 20px;
}
.profile-container span{
    font-size: 3.5rem;
}

.name-and-details{
    margin: 0px 30px;
}

.name,
.details{
    background-color: whitesmoke;
    color: rgb(59, 130, 246);
    margin: 5px 0px;
    padding: 0px 10px;
}

.display{
    width: 75vw;
    position: sticky;
    padding: 30px;
    left: 20vw;
    margin-top: 3%;
    background-color: rgb(59, 130, 246);
    color: whitesmoke;
    border-radius: 20px;
}
.display h1{
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 20px;
}
.display p{
    font-size: 1.0rem;
}